@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

input {
  border: none;
}

.header {
  display: flex;
  padding: 15px;
  margin-bottom: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(92, 92, 92);
}

.left-links, .right-links {
  display: flex;
  gap: 20px

}

.left-links {

}
.right-links {

  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.footer { 
  display: flex;
  margin-top: auto;
  background-color: lightgray;
  padding: 20px;
}


